
<div class='col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 form_top'>
	<h2>New Post</h2>
	<br />
	<%= form_for @post do |p| %> 
		
		<% if @post.errors.any? %> 
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
					<h4>There was a problem with your post</h4>
					<% @post.errors.full_messages.each do |e| %>
						<p><%= e %></p>
					<% end %>   
			</div>	
		<% end %> 

		<div class="form-group">
			<%= p.label :title, class: 'white' %> 
			<%= p.text_field :title, class: 'form-control' %> 
		</div>

		<div class="form-group">
			<%= p.label :body, class: 'white' %> 
			<%= p.text_field :body, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= p.label :video, class: 'white' %>
			<%= p.text_field :video, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= p.label :category, class: 'white' %>
			<%= p.select :category, options_for_select(['Beginner','Strumming','Fingerpicking','Lead','Exercises']), {}, class: 'form-control' %>
		</div>

		<div class="form-group">
			<br />
			<%= p.submit "Create", class: 'btn btn-primary' %>
		</div>


	<% end %> 
</div>