<%= form_for @post do |p| %> 
	
	<% if @post.errors.any? %> 
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
				<h4>There was a problem with your post</h4>
				<% @post.errors.full_messages.each do |e| %>
					<p><%= e %></p>
				<% end %>   
		</div>	
	<% end %> 

	<div class="form-group">
	<%= p.label :title %> 
	<%= p.text_field :title, class: 'form-control' %> 

	</div>
	<div class="form-group">
	<%= p.label :body %> 
	<%= p.text_field :body, class: 'form-control' %>


	</div>
	<div class="form-group">
	<%= p.submit "Create", class: 'btn btn-success' %>

	</div>


<% end %> 