<div class="col-md-6 col-md-push-3">
	<h3><%= @post.title %></h3> 
	<p><%= @post.body %></p>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item video" src="<%= @post.video %>"></iframe>
	</div>


	<% if user_signed_in? %>
	<div class="post_button_container">
		<%= link_to "Delete", post_path, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %> 
		<%= link_to "Edit", edit_post_path, class: 'btn btn-success'  %>
	</div> 
	<% end %> 

</div>